---
import Layout from "@layouts/Layout.astro";
import { getEntry, getCollection } from "astro:content";
import { formatDateTime } from "@/lib/datetime.ts";
const { slug } = Astro.params;

export async function getStaticPaths() {
  const displayDrafts = process.env.NODE_ENV === "development";
  let allBlogPosts = await getCollection("blog");
  if (!displayDrafts) {
    allBlogPosts = allBlogPosts.filter((p) => !p.data.draft);
  }
  return allBlogPosts.map((post) => ({ params: { slug: post.id } }));
}

const post = await getEntry("blog", slug)!;
---

<script>
  import "@/lib/snippets.ts";
</script>

<Layout title={post.data.title}>
  <p class="text-center">
    <strong>Karol Moroz</strong> on <time datetime={post.data.date.toJSON()}
      >{formatDateTime(post.data.date)}</time
    >
  </p>

  <div
    class="content my-8 text-lg"
    set:html={post.rendered?.html}
    lang={post.data.lang}
  />
</Layout>
