---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDateTime } from "@/lib/datetime.ts";

const allBlogPosts = (await getCollection("blog")).sort(
  (a, b) => -(+a.data.date - +b.data.date),
);
---

<Layout title="Blog">
  {
    allBlogPosts.map((blog) => (
      <article class="my-12">
        <a href={`/blog/${blog.id}`} class="hover:text-primary">
          <h3 class="text-2xl font-bold">{blog.data.title}</h3>
        </a>
        <p class="my-2">{blog.data.summary}</p>
        <span>
          <strong>Karol Moroz</strong> on
          <time datetime={blog.data.date.toJSON()}>
            {formatDateTime(blog.data.date)}
          </time>
        </span>
      </article>
    ))
  }
</Layout>
