---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDateTime } from "@/lib/datetime.ts";

const displayDrafts = process.env.NODE_ENV === "development";
let allBlogPosts = (await getCollection("blog")).sort(
  (a, b) => -(+a.data.date - +b.data.date),
);
if (!displayDrafts) {
  allBlogPosts = allBlogPosts.filter((p) => !p.data.draft);
}
---

<Layout title="Blog">
  {
    allBlogPosts.map((blog) => (
      <article class="prose dark:prose-invert mx-auto my-12">
        <a href={`/blog/${blog.id}`} class="no-underline">
          <h3 class="text-primary hover:text-primary-hover text-2xl font-bold transition-colors">
            {blog.data.title}
          </h3>
        </a>
        <p class="prose dark:prose-invert my-3!">{blog.data.summary}</p>
        <span>
          <strong>Karol Moroz</strong> on
          <time datetime={blog.data.date.toJSON()}>
            {formatDateTime(blog.data.date)}
          </time>
        </span>
      </article>
    ))
  }
</Layout>
