---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDateTime } from "../lib/datetime";

const allVideos = await getCollection("videos").then((collection) =>
  collection.sort((a, b) => -(+a.data.date - +b.data.date)),
);
---

<Layout title="Videos">
  {
    allVideos.map((v) => (
      <article>
        <a
          href={`https://www.youtube.com/watch?v=${v.data.youtube}`}
          target="_blank"
          rel="noopener noreferrer"
          class="thumbnail flex aspect-video w-full items-center justify-center overflow-hidden"
        >
          <img
            src={`https://img.youtube.com/vi/${v.data.youtube}/sddefault.jpg`}
            class="w-full object-cover"
          />
        </a>
        <time datetime={v.data.date.toJSON()}>
          {formatDateTime(v.data.date)}
        </time>
        <h3 class="text-primary my-4 text-2xl font-bold">
          <a href={`https://www.youtube.com/watch?v=${v.data.youtube}`}>
            {v.data.title}
          </a>
        </h3>
      </article>
    ))
  }
</Layout>
