---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDateTime } from "../lib/datetime";

const allVideos = await getCollection("videos").then((collection) =>
  collection.sort((a, b) => -(+a.data.date - +b.data.date)),
);
---

<Layout title="Videos">
  {
    allVideos.map((v) => (
      <article class="container mx-auto mb-12 lg:mb-16">
        <a
          href={`https://www.youtube.com/watch?v=${v.data.youtube}`}
          target="_blank"
          rel="noopener noreferrer"
          class="thumbnail flex aspect-video w-full items-center justify-center overflow-hidden"
        >
          <img
            src={`https://img.youtube.com/vi/${v.data.youtube}/sddefault.jpg`}
            class="w-full object-cover"
          />
        </a>
        <footer class="my-2 grid gap-1">
          <time datetime={v.data.date.toJSON()}>
            {formatDateTime(v.data.date)}
          </time>
          <h3 class="text-primary hover:text-primary-hover text-2xl leading-tight font-bold">
            <a href={`https://www.youtube.com/watch?v=${v.data.youtube}`}>
              {v.data.title}
            </a>
          </h3>
          {v.data.summary ? (
            <p class="prose dark:prose-invert">{v.data.summary}</p>
          ) : null}
        </footer>
      </article>
    ))
  }
</Layout>
